html {
  background-color: var(--custom-white);
  font-family: system-ui;
}

:root{

--custom-dark-brown: rgba(31, 23, 6, 1);
--custom-brown: rgba(83, 57, 42, 1);
--custom-tan: rgba(172, 132, 90, 1);
--custom-light-brown: rgba(88, 80, 71, 1);
--custom-green: rgba(69, 107, 90, 1);
--custom-white: rgba(225, 226, 226, 1);


}

body {
  margin: 0 auto;
  width: 100%;
}

.content {

  max-width: 120ch;
  padding: 1rem;
  line-height: 1.5;
  color: var(--custom-dark-brown)

}

nav {

  display: flex;
  justify-content: end;
  max-width: 150ch;

}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

/* nav styles */

.menu {

  background-color: var(--custom-dark-brown);
  border: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 10px;

}

.nav-links {

  width: 100%;
  display: none;
  margin: 0;

}

.nav-links a {

  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--custom-dark-brown);

}

.nav-links a:hover,
.nav-links a:focus {

  background-color: var(--custom-green);
  
}

:has(.menu[aria-expanded="true"]) .nav-links {
  
  display: unset;

}

@media screen and (min-width: 636px) {

  .nav-links {

    margin-left: 5px;
    display: flex;
    position: static;
    width: auto;
    background: none;

  }

  .nav-links a {

    display: inline-block;
    padding: 15px 20px;

  }

  .menu {

    display: none;

  }

}