---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import FullWidthSection from "../components/FullWidthSection.astro";
import bgImage from "../images/bg.svg";

const pageTitle = "Home Page"
---

<BaseLayout pageTitle={pageTitle}>
	
	<FullWidthSection height="100vh" bgImg={bgImage}>

		<h2>My awesome blog subtitle</h2>
		test

	</FullWidthSection>

</BaseLayout>
